<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="style.css"></link>
    <title>개발자를 위한 사이트</title>
</head>
<body>
    <header>        
        <div class="logo" onclick="location.href='index.html'">청담동</div>
        <div class="loginArea">        
            <a class="navButton" onclick="location.href='/login/login.html'">로그인</a>
            <a class="navButton" onclick="location.href='/login/join.ejs'">회원가입</a>
        </div>
        <nav>            
            <a class="navArea" onclick="location.href='#'">프로젝트</a>
            <a class="navArea" onclick="location.href='#'">공모전</a>
            <a class="navArea" onclick="location.href='#'">커뮤니티</a>
            <a class="navArea" onclick="location.href='#'">Q&A</a>
        </nav>
    </header> 
       
    <section>
        <div id="bottom">
            <div class="main">
                <div class="titleArea">프로젝트</div>             
                <div class="contentArea">
                    <ul>
                        <li class="article">어쩌구 공모전 파티 모집중
                            <div class="articleInfo">방금</div>
                        </li>
                        <li class="article">너만오면 시작
                            <div class="articleInfo">9분 전</div>
                        </li>
                        <li class="article">사람 구해요
                            <div class="articleInfo">8시간 전</div>
                        </li>
                        <li class="article">안구해요
                            <div class="articleInfo">1일 전</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="titleArea">공모전</div>             
                <div class="contentArea">
                    <ul>
                        <li class="article">어쩌구 공모전
                            <div class="articleInfo">D-DAY</div>
                        </li>
                        <li class="article">저쩌구 공모전
                            <div class="articleInfo">D-7</div>
                        </li>
                        <li class="article">이런 공모전
                            <div class="articleInfo">D-11</div>
                        </li>
                        <li class="article">저런 공모전
                            <div class="articleInfo">D-192</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="titleArea">커뮤니티</div>                
                <div class="contentArea">
                    <ul>
                        <li class="article">오늘 저녁 추천좀
                            <div class="articleInfo">방금</div>
                        </li>
                        <li class="article">내일 야식 추천좀
                            <div class="articleInfo">23시간 전</div>
                        </li>
                        <li class="article">어제 점심 추천좀
                            <div class="articleInfo">2일 전</div>
                        </li>
                        <li class="article">모레 아침 추천좀
                            <div class="articleInfo">3개월 전</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="titleArea">질문 및 답변</div>                
                <div class="contentArea">
                    <ul>
                        <li class="article">이거 코드 수정좀
                            <div class="articleInfo">답변 : 1개</div>
                        </li>
                        <li class="article">이게 왜 틀림?
                            <div class="articleInfo">답변 : 없음</div>
                        </li>
                        <li class="article">잘 모르겠어요
                            <div class="articleInfo">답변 : 3개</div>
                        </li>
                        <li class="article">알려주실분!!
                            <div class="articleInfo">답변 : 9개+</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        문의하기 개인정보처리방침 커뮤니티이용규칙 이용약관
    </footer>

</body>
</html>