<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css"></link>
    <title>로그인 페이지</title>
</head>
<body>
        <div id="loginForm">
        <image class="logo" src="image.jpg" style="width: 300px; height: 100px;" onclick="location.href='index.html'"></image>
        <form>
            <input type="text" name="id" class="formBox" placeholder="ID">
            <input type="password" name="password" class="formBox" placeholder="PASSWORD"><br>
            <label><input type="checkbox" value="아이디저장"><a style="padding-right : 20px;"> 아이디 저장</a></label>
            <label><input type="checkbox" value="아이디저장"><a> 자동 로그인</a> </label><br>
            <input type="submit" value="로그인" class="submitButton">
            <br>
            <a href="#" style="color:#f2f2f2; padding-right: 25px;">비밀번호 찾기 </a> |&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="join.html"  style="color:#f2f2f2;">회원가입</a>
            <br>   
        </form>
        <form class="social">
            <a href="#"><img class="icons" src="../assets/github.png"></a>
            <a href="#"><img class="icons" src="../assets/facebook.png"></a>
            <a href="#"><img class="icons" src="../assets/kakao.png"></a>
            <a href="#"><img class="icons" src="../assets/naver.png"></a>
            <a href="#"><img class="icons" src="../assets/google.png"></a>

            <br><br>소셜 아이디로 로그인 
        </form>
    </div>
</body>
</html>
